<!DOCTYPE html>    
<html>    
<head>    
    <title>Reg Form</title>    
    <style type="text/css">    
        body{    
            font-family: Calibri;    
        }    
        input[type="text"] {    
            width: 250px;    
        }    
        input[type="submit"], input[type="reset"] {    
            width: 77px;    
            height: 27px;    
            position: relative;left: 180px;    
        }    
        form{    
            text-align: center;    
            font-family: Calibri;    
            font-size: 20px;    
            border: 3px solid black;    
            width: 600px;    
            margin: 20px auto;    
        }    
        td {    
            padding: 10px;    
        }    
        td:first-child {    
            text-align: right;    
            font-weight: bold;    
        }    
        td:last-child {    
            text-align: left;
            font-weight: bold;
        }    
    
    </style>    
    <script>    
        function validate() {    
            var userid = document.reg_form.userid;
            var password = document.reg_form.password; 
            var conpass = document.reg_form.cpnpass; 
            var type = document.reg_form.type; 
            var fname = document.reg_form.fname;   
            var lname = document.reg_form.lname;    
            var address = document.reg_form.address;    
            var gender = document.reg_form.gender;    
            var email = document.reg_form.email;    
            var mobile = document.reg_form.mobile;  
            
            if (userid.value.length <= 0) {    
                alert("Userid is required");    
                userid.focus();    
                return false;    
            }
            
            if (password.value.length <= 0) {    
                alert("password is required");    
                password.focus();    
                return false;    
            }

            if (password.value.length >= 6) {    
                alert("Password have to minimum 6 letter");    
                password.focus();    
                return false;    
            }  
            
            if (password.value != conpass.value) {    
                alert("Does not match the password with confirm password");    
                password.focus();    
                return false;    
            }

            if (conpass.value.length <= 0) {    
                alert("Confirm Password is required");    
                conpass.focus();    
                return false;    
            }   
    
            if (fname.value.length <= 0) {    
                alert("First Name is required");    
                fname.focus();    
                return false;    
            }    
            if (lname.value.length <= 0) {    
                alert("Last Name is required");    
                lname.focus();    
                return false;    
            }    
            if (address.value.length <= 0) {    
                alert("Address is required");    
                address.focus();    
                return false;    
            }    
            if (gender.value.length <= 0) {    
                alert("Gender is required");    
                gender.focus();    
                return false;    
            }    
            if (email.value.length <= 0) {    
                alert("Email Id is required");    
                email.focus();    
                return false;    
            }    
            if (mobile.value.length <= 0) {    
                alert("Mobile number is required");    
                mobile.focus();    
                return false;    
            }    
              
            return false;    
        }    
    </script>    
</head>    
<body>       
    <form method="post" action="../Controller/RegCheck.php" name="reg_form" onsubmit="return validate()">    
        <h2>Registration Form</h2>    
        <table>    
            <tr>    
                <td><label>First Name: </label></td>    
                <td>    
                    <input type="text" name="fname" placeholder="First Name">    
                </td>    
            </tr>    
            <tr>    
                <td><label>Last Name: </label></td>    
                <td>    
                    <input type="text" name="lname" placeholder="Last Name">    
                </td>    
            </tr>
            <tr>    
                <td><label>UserId: </label></td>    
                <td>    
                    <input type="text" name="userid" placeholder="Enter your user id" value="">    
                </td>    
            </tr>
            <tr>    
                <td><label>User type: </label></td>    
                <td>    
                    <input type="radio" name="type" value="admin">Admin   
                    <input type="radio" name="type" value="Customer">Customer
                    <input type="radio" name="type" value="Accountant">Accountant 
                </td>    
            </tr>       
            <tr>    
                <td><label>Address: </label></td>    
                <td>    
                    <input type="textarea" size="50" name="address" placeholder="Address">    
                </td>    
            </tr>    
            <tr>    
                <td><label>Gender: </label></td>    
                <td>    
                    <input type="radio" name="gender" value="male">Male    
                    <input type="radio" name="gender" value="femele">Female    
                </td>    
            </tr>    
            <tr>    
                <td><label>Email: </label></td>    
                <td>    
                    <input type="text" name="email" placeholder="example@gmail.com">    
                </td>    
            </tr>    
            <tr>    
                <td><label>Mobile: </label></td>    
                <td>    
                    <input type="number" name="mobile">    
                </td>    
            </tr>
            
            <tr>    
                <td><label>Password: </label></td>    
                <td>    
                    <input type="password" name="password">    
                </td>    
            </tr>

            <tr>    
                <td><label>Confirm Password: </label></td>    
                <td>    
                    <input type="password" name="conpass">    
                </td>    
            </tr>
                
            <tr>  
                <td><a href="Login.html">Login</a></td>  
                <td>    
                    <input type="submit" name="submit" value="Submit">    
                    <input type="reset" name="reset" value="Reset">    
                </td>    
            </tr>             
        </table>    
    </form>    
</body>    
</html>